body{
    padding: 0;
    margin: 0;
    font-family: helvetica;
}

div{
    box-sizing: border-box;
}

h1{
    font-weight: lighter;
}

.background-wrapper{
    background: linear-gradient(302deg, #13339e, #533a6b);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

#main-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 960px;
    transition: 0.5s;
}

.side-bar{
    width: 200px;
    height: 100vh;
}

.search-pane-wrapper{
    width: calc(100% - 200px);
}

.search-bar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input[type="text"]{
    width: calc(100% - 20px);
    height: 70px;
    border: none;
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px;
    font-family: helvetica;
    font-weight: lighter;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}

.main-pane{
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin: 0 10px;
    height: calc(100% - 110px);
    overflow-y: scroll;
}

.single-hit{
    display: flex;
    height: 150px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    margin-bottom: 10px;
}

.single-hit img{
    height: 150px;
}

.single-hit-text{
    height: 100%;
    padding: 10px;
}

.single-hit-text h2, h3, p{
    margin: 0;
    font-weight: lighter;
    color: white;
    font-family: 'Montserrat', sans-serif;
}


.single-hit-text p{
    font-size: 12px;
    margin-top: 5px;
    font-family: 'Hind', sans-serif;
}

.faceter{
    background-color: rgba(255, 255, 255, 0.45);
    margin-top: 100px;
    padding: 10px;
    border-radius: 3px;
    overflow: hidden;
}

.faceter h4{
    font-weight: lighter;
    margin: 5px;
    font-size: 12px;
    color: white;
}

.faceter-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(119, 119, 119, 0.5);
}

.facets{
    overflow: hidden;
}

.arrow{
    font-weight: normal;
    font-family: Arial;
    transform: rotate(90deg);
    cursor: pointer;
    transition: 0.3s;
}


.fade-in-up{
    animation: 0.5s fade-in-up forwards cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}
.fade-out-up{
    animation: 0.3s fade-out-up forwards ease-in-out;
}
.fade-out-down{
    animation: 0.3s fade-out-down forwards ease-in-out;
}
.fade-in-right{
    animation: 0.5s fade-in-right forwards cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}
.fade-in-down{
    animation: 0.5s fade-in-down forwards cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.scroll-up{
    animation: 0.5s scroll-up forwards ease-in-out;   
}

.scroll-down{
    animation: 0.5s scroll-down forwards ease-in-out;   
}

/* ----------------------------------------------------------- */

#data-pusher{
    position: absolute;
    height: 340px;
    width: 100vh;
    max-width: 460px;
    top: 100px;
    overflow: hidden;
    border-radius: 3px;
    transition: 0.5s;
}

.card{
    height: 340px;
    width: 100vh;
    max-width: 460px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 20px;
    transition: 1.5s;
    position: relative;
}

.card h2{
    text-align: center;
    font-weight: lighter;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.card input[type="text"]{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: none;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    font-weight: lighter;
}

.card button{
    border: none;
    cursor: pointer;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 24px;
    font-family: inherit;
    font-weight: 300;
    color: white;
    letter-spacing: 0.5px;
    transition: 0.25s;
    margin: 5px 10px;
    float: right;
}

.card p{
    font-family: 'Hind', sans-serif;
    text-align: center;
}

.next{
    background: linear-gradient(135deg, #21c7d0 0%, #2dde62 100%);
}
.back{
    background: linear-gradient(135deg, #d0216a 0%, #9d2dde 100%);
}

.blue{
    background: linear-gradient(135deg, #21c4d0 0%, #0077ff 100%);
}

.button-container{
    margin-top: 80px;
}

.input-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*              file                */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    color: white;
    font-family: inherit;
    font-weight: 300;
    padding: 12px 25px;
    border-radius: 24px;
    cursor: pointer;
    /* margin-top: 100px;
    margin-bottom: 60px; */
}



@keyframes fade-in-up{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scroll-up{
    0%{
        opacity: 0;
        transform: translateY(320px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes scroll-down{
    0%{
        opacity: 0;
        transform: translateY(-320px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out-up{
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(-500px);
    }
}
@keyframes fade-out-down{
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(500px);
    }
}

@keyframes fade-in-right{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-down{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}