.data-pusher{
    position: absolute;
    height: 340px;
    width: 100vh;
    max-width: 460px;
    top: 100px;
    overflow: hidden;
    border-radius: 3px;
    transition: 0.5s;
}

.card{
    height: 340px;
    width: 100vh;
    max-width: 460px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 20px;
    transition: 1.5s;
    position: relative;
}

.card h2{
    text-align: center;
    font-weight: lighter;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.card input[type="text"]{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    border: none;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    font-weight: lighter;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card button{
    border: none;
    cursor: pointer;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 24px;
    font-family: inherit;
    font-weight: 300;
    color: white;
    letter-spacing: 0.5px;
    transition: 0.25s;
    margin: 5px 10px;
    float: right;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

.card p{
    font-family: 'Hind', sans-serif;
    text-align: center;
}

.card h5{
    text-align: center;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    opacity: 0.75;
    position: absolute;
    top: -10px;
    right: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.card h5:hover{
    opacity: 1;
}

.next{
    background: linear-gradient(135deg, #21c7d0 0%, #2dde62 100%);
}
.back{
    background: linear-gradient(135deg, #d0216a 0%, #9d2dde 100%);
}

.blue{
    background: linear-gradient(135deg, #21c4d0 0%, #0077ff 100%);
}

.button-container{
    margin-top: 80px;
}

.input-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/*              file                */
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    color: white;
    font-family: inherit;
    font-weight: 300;
    padding: 12px 25px;
    border-radius: 24px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
