.side-bar{
    width: 200px;
    height: 100vh;
}
.faceter{
    background-color: rgba(255, 255, 255, 0.45);
    margin-top: 100px;
    padding: 10px;
    padding-top: 5px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}

.faceter h4{
    font-weight: lighter;
    margin: 5px;
    font-size: 12px;
    color: white;
}

.faceter-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(119, 119, 119, 0.5);
}

.facets{
    overflow: hidden;
}

.arrow{
    font-weight: normal;
    font-family: Arial;
    transform: rotate(90deg);
    cursor: pointer;
    transition: 0.3s;
}