.side-bar{
    width: 190px;
    height: calc(100% - 50px);
    margin-left: 10px;
    opacity: 0;
}

.side-bar > button {
    position: absolute;
    border-radius: 24px;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    top: 35px;
    left: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background: linear-gradient(to right, #22d499, #00e24b);
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transition: .3s;
}

.side-bar > button:hover{
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.35);
}

.faceter{
    background-color: rgba(255, 255, 255, 0.45);
    margin-top: 100px;
    padding: 10px;
    padding-top: 30px;
    border-radius: 3px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    height: 70%;
    max-height: 510px;
}

.faceter h4{
    font-weight: lighter;
    margin: 5px;
    font-size: 12px;
    color: white;
}

.single-category{
    cursor: pointer;
    border-radius: 2px;
    transition: 0.2s;
}
.single-category.selected{
    background-color: rgba(0, 0, 0, 0.25);
}
.single-category.selected:hover{
    background-color: rgba(0, 0, 0, 0.25);
}
.single-category:hover{
    background-color: rgba(0, 0, 0, 0.15);
}

.faceter-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(119, 119, 119, 0.5);
    position: absolute;
    width: calc(100% - 20px);
    left: 0;
    top:105px;
    padding: 0 5px;
    margin: 0 10px;
}

.facets{
    overflow-y: scroll;
    transition: 0.3s;
    height: 100%;
}

.arrow{
    font-weight: normal;
    font-family: Arial;
    transform: rotate(90deg);
    cursor: pointer;
    transition: 0.3s;
}

.close-menu{
    display: none;
}

@media only screen and (max-width: 730px) {
    .side-bar{
        position: fixed;
        background: linear-gradient(to bottom, #13339e, #533a6b);
        z-index: 2000;
        height: 100vh;
        width: 100vw;
        margin-left: 0;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.45);
        left: calc(-100vw - 30px);
        transition: .5s;
    }

    .faceter{
        padding-top: 10px;
        margin: 0;
        border-radius: 0;
        height: 100%;
        max-height: none;
        background-color: rgba(255, 255, 255, 0.25);
    }

    .faceter-header{
        display: none;
    }

    .side-bar > button{
        display: none;
    }

    .single-category h4{
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
    }
    .close-menu{
        width: 30px;
        height: 30px;
        padding: 0;
        padding-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;

        float: right;
        background-color: white;
        color: #777;
        font-weight: lighter;
        font-size: 20px;
        margin-left: 5px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        margin-top: 5px;
    }
}